<div class="main">
    <div class="info-content">
        <span class="info-content__submit">front-end developer</span>
        <h1>yo soy <span>Marcos Rodriguez</span></h1>
        <div class="social-networck__main">
            <i class="fab fa-linkedin"></i>
            <a href="https://github.com/Marcos2104" target="_blank" rel="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.instagram.com/marcosrodriguezok_" target="_blank" rel="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <p>Futuro desarrollador web front-end jr, emprendedor, estudiante de Argentina programa.</p>
        <a download href="#">
            <button class="download-cv">download cv</button>
        </a>
    </div>
    <img src="assets\WhatsApp Image 2022-11-28 at 06.38.51.jpeg" alt="foto de perfil">
</div>