<footer class="footer">
    <hr>
    <div class="footer-content">
        <h2>Rodriguez Marcos</h2>
        <h5>fullstack developer</h5>
    </div>

    <div class="social-networck">
        <a href="https://api.whatsapp.com//send?phone=1136709254" target="_blank" rel="Whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://github.com/Marcos2104" target="_blank" rel="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.instagram.com/marcosrodriguezok_" target="_blank" rel="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        
    </div>

</footer>