<div class="container__skill" id="Skill">
    <H3>Habilidades</H3>
    <div class="skills">
        <div class="info">
            <p class="lista">Html</p>
            <p class="porcentaje">95%</p>
        </div>
        <div class="barra">
            <div id="html" class="barra_progreso1">

            </div>
        </div>
    </div>

    <div class="skills">
        <div class="info">
            <p class="lista">css</p>
            <p class="porcentaje">95%</p>
        </div>
        <div class="barra">
            <div id="html" class="barra_progreso1">

            </div>
        </div>
    </div>

    <div class="skills">
        <div class="info">
            <p class="lista">JavaScript</p>
            <p class="porcentaje">80%</p>
        </div>
        <div class="barra">
            <div id="JS" class="barra_progreso2">
                
            </div>
        </div>
    </div>

</div>