<div class="experiencia">

    <div class="experienciaT">
        <h2>experiencia</h2>
        <div class="divider"></div>

    </div>
    <div class="container">

        <div class="card">

            <div class="card__bacground__content">
                <div class="card__Background">
                    <h1>C<span>C</span></h1>  
                </div>
            </div>

            <div class="card__Title">
                <h2>Ciaco <span>Construcciones</span></h2>
                <p>Ayudante de plomero</p>
            </div>

        </div>

        <div class="card">

            <div class="card__bacground__content">
                <div class="card__Background">
                    <h1>KJ</h1>  
                </div>
            </div>

            <div class="card__Title">
                <h2>kiosco Jimmy</h2>
                <p>Cajero y repositor</p>
            </div>

        </div>

        <div class="card">

            <div class="card__bacground__content">

                <div class="card__Background">
                    <h1>FJ</h1>  
                </div>

            </div>

            <div class="card__Title">
                <h2>Farmajet</h2>
                <p>Cajero y repositor</p>
            </div>

        </div>

    </div>
<hr>
</div>